.container {
  padding: 0 2rem;
  background-image: url("../public/Home.png");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.background{
  overflow: hidden;
  margin: 0 auto;
  z-index: -1;
}

.main {
  height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 22rem 0 2rem 0;
  width: 46%;
}

.explainer span,
.explainer a {
  display: inline-block;
  white-space: nowrap;
}

.explainer a {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.card {
  padding: 1.5rem;
  justify-content: space-between;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: flex;
  text-decoration: none;
  width: 40%;
}

.card p {
  margin: 0.5rem 0;
  font-size: 1rem;
  line-height: 1.5;
  width: 80%;
  text-align: center;
}

.cardTitle {
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.cardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cardColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 1rem 0;
  padding: 0 2rem;
  height: 15vh;
}

.cardItem {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.buttonGroup {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.ethButton {
  padding: 0.5rem 1rem;
  background-color: #70de2c; 
  color: #000; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 50%;
  min-height: 30%;
  margin: 1rem 0;
}

.ethButton:hover {
  background-color: #5cbf26;
}

.ercButton {
  padding: 0.5rem 1rem;
  background-color: #ffffff; 
  color: #000; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 50%;
  min-height: 30%;
  margin: 1rem 0;
}

.ercButton:hover {
  background-color: #d1d1d1;
}

.closeButton {
  padding: 0.5rem 1rem;
  background-color: #8EEF53; 
  color: #000; 
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  width: 25%;
  min-height: 5vh;
  margin: 1rem 0;
}

.closeButton:hover {
  background-color: #5cbf26;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.confirmModalContent {
  background-color: #737373;
  padding: 1rem;
  border-radius: 8px;
  border-color: #ffffff;
  width: 30vw;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.confirmModalContent p {
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
}

.addressInput {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
  background-color: #ffffff;
}

.errorMessage {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.receiptModalContent {
  background-color: #737373;
  padding: 2rem;
  border-radius: 8px;
  border-color: #ffffff;
  width: 70vh;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.receiptModalRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
}

.receiptModalRow .left {
  text-align: left;
  flex: 1;
}

.receiptModalRow .right {
  text-align: right;
  flex: 1;
}

.scrollableContainer {
  max-height: 400px;
  overflow: scroll;
  width: 100%;
  padding: 1rem; 
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #1C2021;
  box-sizing: border-box;
  text-align: left;
}

.modalButtons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.confirmButton {
  background-color: #70de2c;
  color: #000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  width: 30%;
  min-height: 4vh;

}

.confirmButton:disabled {
  background-color: #5f6060;
  color: #9F9D9D;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.confirmButton:hover {
  background-color: #8ee558;
}

.confirmButton:hover:disabled {
  background-color: #5f6060;
}


.cancelButton {
  background-color: #eaeaea;
  color: #000;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.cancelButton:hover {
  background-color: #d1d1d1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
